/* Layout */

body {
    background-color: #effcf8;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    background-color: #e4f8f2;
    padding: 8px 1vw;
    border-bottom: solid 1px #519983;
}

.nav-item .active {
    color: #0465D2 !important;
}

#ebarglogo {
    height: 60px;
}

.signedinuser {
    text-align: start;
}

.userlink {
    color: #0465D2;
    text-decoration: none;
}

.logout {
    color: #0465D2;
    text-decoration: none;
}

a:hover {
    color: #50D890;
}

.menu-nav {
    background-color: #cff0de;
    padding: 2px 0.8vw;
}

.menu-nav a:hover {
    color: #06c55f !important;
}

.space-right {
    margin-right: 25px;
}

@media (min-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .signedinuser {
        text-align: end;
    }
}

.alert {
    text-align: center !important;
}


/* Index */
.carousel-item {
    transition-duration: 1s;
}

h1 {
    text-align: center;
}

hr {
    width: 30%;
    margin: auto;
}

.container {
    padding: 40px;
    text-align: center;
}

.card {
    margin: auto auto 50px;
    max-width: 200px;
    max-height: 410px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=1200:*);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    background-color: transparent;
}

.card-title {
    margin-bottom: 0 ;
}

.ctgry-badge {
    width: min-content;
    display: block;
    font-size: 0.55rem;
}

.price {
    color: #27d377;
}

.card-body {
    overflow-y: auto;
}

a.card-footer {
    color: black;
    border: none;
    background-color: #b3e7ca;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
}



/* Login */

form {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.input-group, .mb3 {
    border-radius: 4px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 5px, rgba(0, 0, 0, 0.08) 0px 2px 5px;
}

.logininput .label, .registerinput .label {
    background-color: #b3e7ca;
    width: 100px;
    justify-content: center;
}

.registerinput .label {
    width: 165px;
}



/* Categories */

.categories > div {
    padding-top: 4vw;
    padding-bottom: 4vw;
}


/* Listing */

.listing-row {
    justify-content: stretch;
    flex-flow: row wrap;
}

.listing-mid {
    position: relative;
}

.listing-image-container {
    margin: auto;
    width: auto;
    min-width: 280px;
    max-width: 400px;
    max-height: 450px;
}

.listing-image {
    align-self: center;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=1200:*);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    background-color: transparent;
}

.listing-detail {
    text-align: start;
}

.wshlist {
    vertical-align: middle;
    font-size: 0.6rem;
}

.placebid {
    position: absolute;
    bottom: 0;
    width: 250px;
    text-align: start;
    margin-bottom: 0;
}

.placebid .input-group {
    margin-bottom: 0 !important;
}

.comment-section {
    text-align: start;
}

.comments {
    text-align: justify;
    padding-left: 40px;
    margin-bottom: 20px;
}

.addcomment {
    padding: 0;
    padding-left: 40px;
}

.listing-about > .card {
    margin-left: auto;
    margin-right: 0;
}

@media screen and (max-width: 991.8px) {

    .placebid {
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }

    .listing-detail {
        padding: 20px 0;
        text-align: center;
    }

    .listing-detail p {
        text-align: justify;
    }

    .badge {
        margin: auto;
    }

    .below-listing {
        padding-top: 0;
    }

    .listing-about {
        margin-bottom: 30px;
        order: -1;
    }

    .listing-about > .card {
        margin-right: auto;
    }

}


/* Create */

textarea {
    resize: vertical; 
    max-height: 250px;
}

textarea.imgurl {
    resize: none;
}