body {
    background-color: #effcf8;
}

.navbar {
    background-color: #e4f8f2;
    padding: 8px 1vw;
    border-bottom: solid 1px #519983;
}

#ebarglogo {
    height: 60px;
}

.signedinuser {
    text-align: start;
}

.userlink {
    color: #0465D2;
    text-decoration: none;
}

.logout {
    color: #0465D2;
    text-decoration: none;
}

a:hover {
    color: #50D890;
}

.menu-nav {
    background-color: #cff0de;
    padding: 2px 0.8vw;
}

.menu-nav a:hover {
    color: #06c55f !important;
}

.space-right {
    margin-right: 25px;
}

@media (min-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .signedinuser {
        text-align: end;
    }
}