{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <div><br></div>
    <h1 id="categories">
        <div style="text-decoration: none; color: black;">Categories</div>
    </h1>
    <hr>

    <div class="container">
        <div class="row categories">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="btn btn-primary card-footer text-center">
                    Category
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="btn btn-primary card-footer text-center">
                    Category
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="btn btn-primary card-footer text-center">
                    Category
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="btn btn-primary card-footer text-center">
                    Category
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="btn btn-primary card-footer text-center">
                    Category
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="btn btn-primary card-footer text-center">
                    Category
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="btn btn-primary card-footer text-center">
                    Category
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="btn btn-primary card-footer text-center">
                    Category
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="btn btn-primary card-footer text-center">
                    Category
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="btn btn-primary card-footer text-center">
                    Category
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="btn btn-primary card-footer text-center">
                    Category
                </a>
            </div>
        </div>
    </div>


{% endblock %}