{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

    {% if message %}
    <div class="alert alert-danger fade show" role="alert">
        {{ message }}
    </div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <h1>Create Listing</h1>
        <div><br></div>
        <div class="registerinput">
            <div class="input-group mb-3">
                <span class="input-group-text label" id="inputGroup-sizing-default">Listing Title</span>
                <input type="text" name="title" value="{{ title }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text label" id="inputGroup-sizing-default">Description</span>
                <textarea class="form-control" name="description" value="{{ description }}" id="" cols="30" rows="5" required></textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text label" id="inputGroup-sizing-default">Category</span>
                <select class="form-select selectcategory" name="category" required>
                    <option selected disabled value="">Select Category</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text label" id="inputGroup-sizing-default">Image URL <br> (optional)</span>
                <textarea class="form-control imgurl" name="imgurl" value="{{ imgurl }}" id="" cols="30" rows="3" placeholder="https://your.image/1234567890.png"></textarea>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Create">
        <div><br><br></div>
    </form>

{% endblock %}