{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <div id="carouselExampleIndicators" class="carousel-dark carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'auctions/img/banner2.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'auctions/img/banner3.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'auctions/img/banner1.png' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div><br></div>
    <h1 id="activelistings">
        <div style="text-decoration: none; color: black;">Active Listings</div>
    </h1>
    <hr>

    <div class="container">
        <div class="row">
            {% for l in listing %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card h-100 text-start">
                        <div class="card-img-top" style="background-image: url('{{ l.imgurl }}');"></div>
                        <div class="card-body">
                            <h5 class="card-title">{{ l.title|capfirst|truncatewords:5 }}
                                <span class="badge bg-secondary ctgry-badge">{{ l.category }}</span>
                            </h5>
                            Price: <span class="price">${{ l.price }}</span>
                            <p class="card-text">{{ l.description|truncatewords:12 }}</p>
                        </div>
                        <a href="/{{ l.pk }}" class="btn btn-primary card-footer text-center">
                            <!-- <div class="card-footer text-center"> -->
                                View
                                <!-- <small class="text-muted">View</small> -->
                            <!-- </div> -->
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card h-100 text-start">
                    <div class="card-img-top" style="background-image: url('{% static 'auctions/img/noimage.webp' %}');"></div>
                    <div class="card-body">
                        <h5 class="card-title">Title
                            <span class="badge bg-secondary ctgry-badge">Category</span>
                        </h5>
                        Price: <span class="price">$500</span>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing e...</p>
                    </div>
                    <a href="#" class="btn btn-primary card-footer text-center">
                        <!-- <div class="card-footer text-center"> -->
                            View
                            <!-- <small class="text-muted">View</small> -->
                        <!-- </div> -->
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card h-100 text-start">
                    <div class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Title
                            <span class="badge bg-secondary ctgry-badge">Category</span>
                        </h5>
                        Price: <span class="price">$500</span>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing e...</p>
                    </div>
                    <a href="#" class="btn btn-primary card-footer text-center">
                        <!-- <div class="card-footer text-center"> -->
                            View
                            <!-- <small class="text-muted">View</small> -->
                        <!-- </div> -->
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card h-100 text-start">
                    <div class="card-img-top">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Title
                            <span class="badge bg-secondary ctgry-badge">Category</span>
                        </h5>
                        Price: <span class="price">$500</span>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <a href="#" class="btn btn-primary card-footer text-center">
                        <!-- <div class="card-footer text-center"> -->
                            View
                            <!-- <small class="text-muted">View</small> -->
                        <!-- </div> -->
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}