{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    {% if message %}
        <div class="alert alert-danger fade show" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <div><br></div>
    <div class="container">
        <div class="row listing-row">
            <div class="col listing-image-container">
                <div class="listing-image" style="background-image: url('{{ listing.imgurl }}');"></div>
            </div>
            <div class="col-lg-8 col-sm-12 listing-mid">
                <div class="listing-detail">
                    <h2>{{ listing.title }}
                        {% if user.is_authenticated %}
                            {% if is_watching %}
                                <a class="btn badge bg-primary ctgry-badge watchlist" href="#" style="background-color: gray !important;">Remove from watchlist</a>
                            {% else %}
                                <a class="btn badge bg-primary ctgry-badge watchlist" href="#">Add to watchlist</a>
                            {% endif %}
                        {% endif %}
                    </h2>
                    <p style="font-size: 0.8rem;margin-bottom: 0;">Starting Bid: <span class="price">${{ listing.price }}</span></p>
                    <h5>Current Highest Bid: <span class="price">${{ highestbid.bid }}</span></h5>
                    <p>{{ listing.description }}</p>
                </div>
                <div class="placebid">
                    <!-- <a href="" style="text-decoration: none;">
                        Add to Watchlist <img src="{# static 'auctions/img/star-regular.svg' #}" alt="*" style="width: 20px; vertical-align: middle; padding-bottom: 4px;">
                    </a> -->
                    <form action="/listing/{{ listing.id }}/" method="post" class="addcomment" style="padding: 0;">
                        {% csrf_token %}
                        {% if not listing.isactive %}
                            {% if user == highestbid.bidder %}
                                <div class="py-2">
                                    <div class="modal" id="myModal">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header" style="justify-content: center;">
                                                    <h5 class="modal-title" style="color: rgb(5, 197, 21);">Congratulations!</h5>
                                                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                                </div>
                                                <div class="modal-body" style="text-align: center;">
                                                    <p>
                                                        <br><br> You are the winner for this auction! <br><br>
                                                    </p>
                                                </div>
                                                <div class="modal-footer" style="justify-content: center;">
                                                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Thanks!</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            
                                <script type="text/javascript">
                                    var myModal = new bootstrap.Modal(document.getElementById('myModal'), {})
                                    myModal.toggle()
                                </script>

                            {% endif %}
                            <div style="align-self: flex-start;color: red;">This auction is closed.</div>
                        {% else %}
                            {% if user.is_authenticated %}
                                {% if user == listing.creator %}
                                    <div style="align-self: flex-start;">
                                        <input type="text" value="Close" name="closebid" hidden>
                                        <input class="btn btn-outline-danger" type="submit" id="button-addon2" value="Close Auction">
                                    </div>
                                {% else %}
                                    <div class="input-group mb-3"">
                                        <input type="number" name="bid" min="{{ listing.price }}" value="{{ listing.price }}" class="form-control" placeholder="$" aria-label="$" aria-describedby="button-addon2">
                                        <input class="btn btn-outline-primary" type="submit" id="button-addon2" value="Place Bid">
                                    </div>
                                {% endif %}
                            {% else %}
                                <div style="align-self: flex-start;"><a href="/register">Sign up</a> to place a bid</div>
                            {% endif %}
                        {% endif %}
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container below-listing">
        <div class="row">
            <div class="col-lg-8 col-sm-12 comment-section">
                <h4>Comments</h4>
                {% if user.is_authenticated %}
                    {% if not comments %}
                        <h6>No comments</h6>
                    {% endif %}
                    {% for comment in comments %}
                        <div class="comments">
                            <div style="color: #0465D2;">@{{ comment.commenter }}</div>
                            <div style="font-size: 0.65rem;">{{ comment.date }}</div>
                            <div>{{ comment.comment }}</div>
                        </div>
                    {% endfor %}
                    <div>
                        <form action="/listing/{{ listing.id }}/" method="post" class="addcomment">
                            {% csrf_token %}
                            <div><br></div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="comment" placeholder="Add comment as @{{ request.user }}" aria-label="Add comment as username" aria-describedby="button-addon2" required>
                                <input class="btn btn-outline-primary" type="submit" id="button-addon2" value="Add Comment">
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="signuptobid" style="align-self: flex-start;"><a href="/register">Sign up</a> to place a bid</div>
                {% endif %}
            </div>
            <div class="col listing-about">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-primary text-light">About the Listing</div>
                    <div class="card-body text-primary">
                        <p class="card-text"><span class="badge bg-secondary">Category:</span>   <a href="/categories/{{ listing.category }}">{{ listing.category }}</a></p>
                        <p class="card-text"><span class="badge bg-secondary">Date Listed:</span> {{ listing.date }}</p>
                        <p class="card-text"><span class="badge bg-secondary">Listed by:</span> {{ listing.creator }}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>

        // Add to/Remove from Watchlist

        var watchlist = document.getElementsByClassName('watchlist')[0]

        watchlist.addEventListener('click', () => {
            $.ajax({
                url : '/listing/{{ listing.id }}/',
                type : "POST",
                data : {
                    user: '{{ user }}',
                    listing: parseInt('{{ listing.id }}'),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                }
            }).done(function(status){

                if (status == 'true') {
                    watchlist.innerHTML = "Remove from watchlist"
                    watchlist.style.setProperty('background-color', 'gray', 'important')
                }
                else {
                    watchlist.innerHTML = "Add to watchlist"
                    watchlist.style.setProperty('background-color', '#0d6efd', 'important')
                }
                // This is the ajax.done() method, where you can fire events after the ajax method is complete 

                // For instance, you could hide/display your add/remove button here
                
            });
        })

    </script>

{% endblock %}