{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

    <div><br></div>
    <div class="container">
        <div class="row listing-row">
            <div class="col listing-image-container">
                <div class="listing-image" style="background-image: url('{{ listing.imgurl }}');"></div>
            </div>
            <div class="col-lg-8 col-sm-12 listing-mid">
                <div class="listing-detail">
                    <h2>{{ listing.title }}
                        <a class="btn badge bg-primary ctgry-badge watchlist" href="#">Add to wishlist</a>
                    </h2>
                    <h5>Price: <span class="price">${{ listing.price }}</span></h5>
                    <p>{{ listing.description }}</p>
                </div>
                <div class="placebid">
                    <!-- <a href="" style="text-decoration: none;">
                        Add to Watchlist <img src="{# static 'auctions/img/star-regular.svg' #}" alt="*" style="width: 20px; vertical-align: middle; padding-bottom: 4px;">
                    </a> -->
                    <form action="{% url 'login' %}" method="post" class="addcomment" style="padding: 0;">
                        {% csrf_token %}
                        <div class="input-group mb-3"">
                            <input type="number" min="{{ listing.price }}" value="{{ listing.price }}" class="form-control" placeholder="$" aria-label="$" aria-describedby="button-addon2">
                            <input class="btn btn-outline-primary" type="submit" id="button-addon2" value="Place Bid">
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container below-listing">
        <div class="row">
            <div class="col-lg-8 col-sm-12 comment-section">
                <h4>Comments</h4>
                <div class="comments">
                    <div>@username</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. At aspernatur animi itaque ut nisi, laboriosam modi minima facilis ex, tempore rem aliquid enim dolorum. Nesciunt enim beatae cum optio delectus?</div>
                </div>
                <div class="comments">
                    <div>@username</div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. At aspernatur animi itaque ut nisi, laboriosam modi minima facilis ex, tempore rem aliquid enim dolorum. Nesciunt enim beatae cum optio delectus?</div>
                </div>
                <div>
                    <form action="{% url 'login' %}" method="post" class="addcomment">
                        {% csrf_token %}
                        <div><br></div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Add comment as username" aria-label="Add comment as username" aria-describedby="button-addon2">
                            <input class="btn btn-outline-primary" type="submit" id="button-addon2" value="Add Comment">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col listing-about">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-primary text-light">About the Listing</div>
                    <div class="card-body text-primary">
                        <p class="card-text"><span class="badge bg-secondary">Category:</span>   <a href="/categories/{{ listing.category }}">{{ listing.category }}</a></p>
                        <p class="card-text"><span class="badge bg-secondary">Date Listed:</span> {{ listing.date }}</p>
                        <p class="card-text"><span class="badge bg-secondary">Listed by:</span> {{ listing.creator }}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        // Watchlist

        var watchlist = document.getElementsByClassName('watchlist')[0]
        console.log(watchlist)

        watchlist.addEventListener('click', () => {
            $.ajax({
                url : '/listing/{{ listing.id }}/',
                type : "POST",
                data : {
                    user: '{{ user }}',
                    listing: parseInt('{{ listing.id }}'),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                }
            }).done(function(status){

                if (status == 'true') {
                    watchlist.innerHTML = "Remove from watchlist"
                    watchlist.style.setProperty('background-color', 'gray', 'important')
                }
                else {
                    watchlist.innerHTML = "Add to watchlist"
                    watchlist.style.setProperty('background-color', '#0d6efd', 'important')
                }
                // This is the ajax.done() method, where you can fire events after the ajax method is complete 

                // For instance, you could hide/display your add/remove button here
                
            });
        })
    </script>

{% endblock %}