{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <h1>Login</h1>
        <div><br></div>
        <div class="logininput">
            <div class="input-group mb-3">
                <span class="input-group-text label" id="inputGroup-sizing-default">Username</span>
                <input type="text" name="username" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text label" id="inputGroup-sizing-default">Password</span>
                <input type="password" name="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
        <div><br><br></div>
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </form>


{% endblock %}